// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: calc(1rem + ((1vw - 4.8px) * 1.1111));
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

// colors
@main-color: #262626;
@lighter: lighten(@main-color, 50%);
@darker: lighten(@main-color, 10%);

//borders
@small-border: 1px solid @darker;

// fonts
@header-font: "Montserrat", sans-serif;
@body-font: "Roboto", sans-serif;
@font-huge: 3.5rem;
@font-big: 2.5rem;
@font-medium: 1.5rem;
@font-small: 1rem;
@font-tiny: 0.8rem;

//padding
@side-padding: 0 5%;
@top-bottom: 5% 0;
@space-all: 5%;

.border {
  border: @small-border;
}

html,
body {
  height: 100%;
  background: @main-color;
}

main {
  width: 80%;
  margin: 5% 10%;
  background: @lighter;

  box-shadow: 18px 24px 17px 4px rgba(0, 0, 0, 0.75);

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
  }

  nav {
    width: 100%;
    background: @darker;
    padding: 3% 5%;

    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 768px) {
      justify-content: space-around;
    }

    a {
      padding: 0 2%;
      font-family: @body-font;
      font-size: @font-small;
      text-decoration: none;
      color: @lighter;
      &:hover {
        color: darken(@lighter, 15%);
      }
    }
  }

  .me {
    display: flex;
    padding: @space-all;
    margin-bottom: -5%;
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @media screen and (max-width: 550px) {
      justify-content: center;
    }

    .pic {
      width: 30%;
      img {
        margin-right: 2%;
        max-width: 100%;
        height: auto;
      }
    }

    .title {
      display: flex;
      flex-flow: column;
      color: darken(@main-color, 2%);
      padding-left: 3%;
      h1 {
        font-size: @font-huge;
        font-family: @header-font;
        font-weight: bold;
        margin-bottom: 6.5%;
      }
      h2 {
        font-size: @font-medium;
        font-family: @header-font;
      }
      address {
        display: flex;
        flex-flow: column;
        font-family: @body-font;
        font-size: @font-small;
        padding: @top-bottom;
        visibility: hidden;
        @media screen and (max-width: 550px) {
          font-size: @font-tiny;
        }
      }
    }
  }

  hr {
    margin: @space-all;
    border-top: @small-border;
    border-bottom: @small-border;
    background: @darker;
  }

  .summary {
    padding: @side-padding;
    h2 {
      font-size: @font-big;
      padding-bottom: 1%;
      font-family: @header-font;
      font-weight: bold;
    }
    p {
      line-height: 1.2;
    }
  }

  .skills {
    display: flex;
    padding-bottom: 5%;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-flow: column;
    }

    .employment {
      width: 65%;
      padding: @side-padding;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
      h2 {
        font-size: @font-medium;
        font-weight: bold;
      }
      .title-date {
        display: flex;
        justify-content: space-between;
        h3 {
          font-style: italic;
          padding-bottom: 2%;
        }
      }
      p {
        padding-bottom: 4%;
      }
    }

    .skill-highlight {
      display: flex;
      flex-flow: column;
      width: 35%;
      background: @main-color;
      color: @lighter;
      margin-right: 5%;
      padding: @space-all;
      border-radius: 20px;
      box-shadow: 15px 16px 17px -4px rgba(0, 0, 0, 0.75);
      @media screen and (max-width: 768px) {
        width: 90%;
        flex-flow: row wrap;
        justify-content: center;
        margin: auto;
      }
      .skill-title {
        h2 {
          font-size: @font-big;
          font-family: @header-font;
          font-weight: bold;
          padding: @top-bottom;
          margin: auto;
          @media screen and (max-width: 780px) {
            width: 100%;
          }
        }
        height: 25%;
      }
      .front-end,
      .back-end {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        height: 25%;
        padding: @top-bottom;
        @media screen and (max-width: 768px) {
          flex-flow: column;
          width: 50%;
          justify-content: center;
          align-items: center;
          padding: 1% 5%;
        }

        h2 {
          font-family: @header-font;
          font-size: @font-medium;
          font-weight: bold;
          width: 100%;
          margin-bottom: 2%;
        }
        ul {
          list-style: circle;
          width: 45%;

          @media screen and (max-width: 768px) {
            width: 100%;
            line-height: 1.5;
            padding: 10%;
          }
        }
        li {
          font-family: @body-font;
          font-size: @font-small;
          margin-left: 20%;
          line-height: 1.2;
        }
      }

      .links {
        display: flex;
        height: 25%;
        color: black;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
          width: 100%;
          height: auto;
          margin-top: 5%;
          justify-content: space-around;
        }
      }

      a i {
        color: purple;
        transition: ease-out;
        transition-duration: 0.2s;
        &:hover {
          transform: scale(1.07, 1.07);
        }
      }
    }

    button {
      width: 150px;
      height: 40px;
      padding: 5%;
      margin: 20% auto;
      font-family: @body-font;
      font-weight: bold;
      background: @lighter;
      border: 1px solid @darker;
      border-radius: 8px;
      transition: ease-in-out;
      transition-duration: 0.15s;
      box-shadow: 0px 1.5px 0px 0px rgba(0, 0, 0, 0.75);
      color: darken(@darker, 5%);

      @media screen and (max-width: 768px) {
        margin: auto;
      }

      &:hover {
        background: darken(@lighter, 25%);
      }
      &:active {
        box-shadow: none;
        transform: translateY(1px);
      }
    }
  }
}
